<!DOCTYPE html>
<html>
<head>
  <title>High Fidelity Stack Manager Content Sets</title>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- underscore.js for easy templates -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" style="margin-top: 15px;">
        <h5>Click on the name of one of the content sets below to replace your local content with that set.</h5>
        <h5>Note that the content set you choose may change the index path ('/') in your domain-server settings.</h5>
      </div>
    </div>
    <div class="row" id="content-set-panels">
      <script type="text/template" class="template">
        <% var index = 1 %>
        <% _.each(sets, function(set, key, list){ %>
          <div class="col-xs-4" >
            <% var models_url = "http://hifi-public.s3.amazonaws.com/content-sets/" + key + "/models.svo" + (_.has(set, "path") ? "?path=" + set.path : '') %>
            <div class="panel panel-default" style="margin-top: 15px;">
              <div class="panel-heading">
                <a href="<%- models_url %>">
                  <h4 class="media-heading"><%- set.name %></h4>
                </a>
              </div>
              <div class="panel-body">
                <p class="text-center">
                  <a href="<%- models_url %>">
                    <img width="200" height="200" src="http://hifi-public.s3.amazonaws.com/content-sets/<%- key %>/thumbnail.jpg" alt="content set thumbnail">
                  </a>
                </p>
                <p><%- set.description %></p>
              </div>
            </div>
          </div>
          <% if (index % 3 == 0) { %>
            <div class="clearfix"></div>
          <% } %>
          <% index++ %>
          <% }); %>
      </script>
    </div>
  </div>
</body>

<script type="text/javascript">
  var setsTemplate = _.template($('.template').html());
  $.getJSON("content-sets.json", function(json){
    $('#content-set-panels').html(setsTemplate({sets: json}));
  });
</script>
</html>
