# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
build/
Makefile

# Xcode
*.xcodeproj
*.xcworkspace
.DS_Store
xcuserdata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

*.hmap

#Ignore Leap, but not the stubs
interface/external/Leap/docs/
interface/external/Leap/include/
interface/external/Leap/lib/
interface/external/Leap/samples/
interface/external/Leap/util/



