# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
build/
Makefile
*.user

# Xcode
*.xcodeproj
*.xcworkspace
.DS_Store
xcuserdata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

*.hmap

# ignore interface optional externals
interface/external/*/*
!interface/external/*/readme.txt

# ignore libraries externals
libraries/*/externals/*/*
!libraries/*/externals/*/readme.txt

# Ignore interfaceCache for Linux users
interface/interfaceCache/
