# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
build*/
release*/
debug*/
gprof*/
valgrind*/
ext/
Makefile
*.user

# Android Studio
*.iml
local.properties
android/gradle*
android/.gradle
android/app/src/main/jniLibs
android/app/libs
android/app/src/main/res/values/libs.xml
android/app/src/main/assets/bundled

# VSCode
# List taken from Github Global Ignores master@435c4d92
# https://github.com/github/gitignore/commits/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Xcode
*.xcodeproj
*.xcworkspace
.DS_Store
xcuserdata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

*.hmap

# ignore interface optional externals
interface/external/*/*
!interface/external/*/readme.txt

# Ignore interfaceCache for Linux users
interface/interfaceCache/

# ignore audio-client externals
libraries/audio-client/external/*/*
!libraries/audio-client/external/*/readme.txt

gvr-interface/assets/oculussig*
gvr-interface/libs/*

# ignore files for various dev environments
TAGS
*.sw[po]
*.jsc

# ignore QML compilation output
*.qmlc

# ignore node files for the console
node_modules
npm-debug.log

# Android studio files
*___jb_old___

# Generated assets for Android
android/app/src/main/assets

# Resource binary file
interface/compiledResources

# GPUCache
interface/resources/GPUCache/*