<?js
var data = obj;
var self = this;
var defaultObjectClass = '';

// Check if the default value is an object or array; if so, apply code highlighting
if (data.defaultvalue && (data.defaultvaluetype === 'object' || data.defaultvaluetype === 'array')) {
    data.defaultvalue = "<pre class=\"prettyprint\"><code>" + data.defaultvalue + "</code></pre>";
    defaultObjectClass = ' class="object-value"';
}
?>
<?js
    var properties = data.properties;
    if (properties && properties.length && properties.forEach && !data.hideconstructor) {
?>
    <?js if (data.deprecated) { ?>
        <p class="important">Deprecated: <?js
            if (data.deprecated === true) { ?>Yes</p><?js }
            else { ?><?js= data.deprecated ?></p><?js }
        ?>
    <?js } ?>

    <h3 class="propsHeading" id="props">Properties</h3>

    <?js= this.partial('properties.tmpl', data) ?>

<?js } ?>


    <?js if (data.version) {?>
    <p>Version:</p>
    <div><ul class="dummy"><li><?js= version ?></li></ul></div>
    <?js } ?>

    <?js if (data.since) {?>
    <p>Since:</p>
    <div><ul class="dummy"><li><?js= since ?></li></ul></div>
    <?js } ?>

    <?js if (data.inherited && data.inherits && !data.overrides) { ?>
    <p>Inherited From:</p>
    <div><ul class="dummy"><li>
        <?js= this.linkto(data.inherits, this.htmlsafe(data.inherits)) ?>
    </li></ul></div>
    <?js } ?>

    <?js if (data.overrides) { ?>
    <p>Overrides:</p>
    <div><ul class="dummy"><li>
        <?js= this.linkto(data.overrides, this.htmlsafe(data.overrides)) ?>
    </li></ul></div>
    <?js } ?>

    <?js if (data.implementations && data.implementations.length) { ?>
    <p>Implementations:</p>
    <div><ul>
        <?js data.implementations.forEach(function(impl) { ?>
            <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
        <?js }); ?>
    </ul></div>
    <?js } ?>

    <?js if (data.implements && data.implements.length) { ?>
    <p>Implements:</p>
    <div><ul>
        <?js data.implements.forEach(function(impl) { ?>
            <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
        <?js }); ?>
    </ul></div>
    <?js } ?>

    <?js if (data.mixes && data.mixes.length) { ?>
        <p>Mixes In:</p>

        <div><ul>
        <?js data.mixes.forEach(function(a) { ?>
            <li><?js= self.linkto(a, a) ?></li>
        <?js }); ?>
        </ul></div>
    <?js } ?>


    <?js if (data.author && author.length) {?>
    <p>Author:</p>
    <div>
        <ul><?js author.forEach(function(a) { ?>
            <li><?js= self.resolveAuthorLinks(a) ?></li>
        <?js }); ?></ul>
    </div>
    <?js } ?>

    <?js if (data.copyright) {?>
    <p>Copyright:</p>
    <div><ul class="dummy"><li><?js= copyright ?></li></ul></div>
    <?js } ?>

    <?js if (data.license) {?>
    <p>License:</p>
    <div><ul class="dummy"><li><?js= license ?></li></ul></div>
    <?js } ?>

    <?js if (data.defaultvalue) {?>
    <p>Default Value:</p>
    <div><ul class="dummy">
            <li><?js= defaultObjectClass ?>><?js= data.defaultvalue ?></li>
        </ul></div>
    <?js } ?>

    <?js if (data.meta && self.outputSourceFiles) {?>
    <p>Source:</p>
    <div><ul class="dummy"><li>
        <?js= self.linkto(meta.shortpath) ?>, <?js= self.linkto(meta.shortpath, 'line ' + meta.lineno, null, 'line' + meta.lineno) ?>
    </li></ul></div>
    <?js } ?>

    <?js if (data.tutorials && tutorials.length) {?>
    <p>Tutorials:</p>
    <div>
        <ul><?js tutorials.forEach(function(t) { ?>
            <li><?js= self.tutoriallink(t) ?></li>
        <?js }); ?></ul>
    </div>
    <?js } ?>

    <?js if (data.see && see.length) {?>
    <p class="see">See:</p>
    <div>
        <ul><?js see.forEach(function(s) { ?>
            <li><?js= self.linkto(s) ?></li>
        <?js }); ?></ul>
    </div>
    <?js } ?>

    <?js if (data.todo && todo.length) {?>
    <p>To Do:</p>
    <div>
        <ul><?js todo.forEach(function(t) { ?>
            <li><?js= t ?></li>
        <?js }); ?></ul>
    </div>
    <?js } ?>
