Source: hifi-deps
Version: 0.1
Description: Collected dependencies for High Fidelity applications
Build-Depends: bullet3, openexr (!android), draco, etc2comp, glm, nvtt, openssl (windows), tbb (!android&!osx), zlib
