body {
  position: relative;
}

.table-lead {
  color: #66CCCC;
}

.table-lead .lead-line {
  background-color: #66CCCC;
}

#queued-lead {
  color: #F77777;
}

#queued-lead .lead-line {
  background-color: #F77777;
}

.table-lead h3 {
  background-color: white;
  float: left;
  margin-right: 5px;
}

.table-lead .lead-line {
  height: 2px;
  overflow: hidden;
  position: relative;
  top: 40px;
}

.glyphicon-remove {
  font-size: 24px;
}

.glyphicon-remove:hover {
  color: #000000;
  cursor: pointer;
}

span.port {
  color: #666666;
}

.stats-key {
  width: 400px;
}

.stale {
  color: red;
}

.locked {
  color: blue;
}

.advanced-setting {
  display: none;
}

#setup-sidebar.affix {
  position: fixed;
  top: 15px;
}

#setup-sidebar button {
  width: 100%;
  margin-top: 10px;
}

#small-save-button {
  width: 100%;
  margin-bottom: 15px;
}

td.buttons {
  width: 14px;
}

td .glyphicon {
  text-align: center;
  font-size: 12px;
}

td.add-del-buttons .glyphicon {
  display: block;
}

td.reorder-buttons .glyphicon {
  display: inherit;
}

tr.new-row {
  color: #3c763d;
  background-color: #dff0d8;
}
