/* cairo-regular - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/cairo-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cairo'), local('Cairo-Regular'),
       url('/fonts/cairo-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/cairo-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/cairo-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/cairo-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/cairo-v2-latin-regular.svg#Cairo') format('svg'); /* Legacy iOS */
}

body {
  position: relative;
  padding-bottom: 30px;
  margin-top: 70px;
}

/* unfortunate hack so that anchors go to the right place with fixed navbar */
:target:before {
  content: " ";
  display: block;
  height: 70px;
  margin-top: -70px;
}

[hidden] {
  display: none !important;
}

.table-lead .lead-line {
  background-color: black;
}

.table-lead h3 {
  background-color: white;
  float: left;
  margin-right: 5px;
}

.table-lead .lead-line {
  height: 2px;
  overflow: hidden;
  position: relative;
  top: 40px;
}

.table .value-row td,
.table .value-category td,
.table .inputs td {
  vertical-align: middle;
}

.table .table-checkbox {
  /* Fix IE sizing checkboxes to fill table cell */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.value-category:not(.inputs) {
  font-weight: bold;
  background: #f5f5f5;
}

.table .value-category [message]::after {
  content: attr(message);
  font-style: italic;
  font-weight: normal;
}

.table .value-row.contracted,
.table .inputs.contracted {
  display: none;
}

.toggle-category {
  cursor: pointer;
}

.toggle-category-icon {
  padding: 4px;
  margin-right: 8px;
}

.glyphicon-remove {
  font-size: 24px;
}

.glyphicon-remove:hover {
  color: #000000;
  cursor: pointer;
}

span.port {
  color: #666666;
}

.advanced-setting, .deprecated-setting {
  display: none;
}

@media (min-width: 768px) {
  #setup-sidebar.affix {
    /* This overrides a case where going to the bottom of the page,
     * then scrolling up, causes `position: relative` to be added to the style
     */
    position: fixed !important;
  }
}

@media (max-width: 767px) {
  #setup-sidebar.affix {
    position: static !important;
  }

  #setup-sidebar {
    margin-bottom: 20px;
  }
}

#setup-sidebar button {
  width: 100%;
  margin-top: 10px;
}

td.buttons {
  width: 30px;
}

td.buttons.reorder-buttons {
  width: 40px;
}

td .glyphicon {
  text-align: center;
  font-size: 12px;
}

td.add-del-buttons .glyphicon {
  display: block;
}

td.reorder-buttons .glyphicon {
  display: inherit;
}

td a.glyphicon {
  color: black;
  text-decoration: none;
}

tr.new-row {
  color: #3c763d;
  background-color: #dff0d8;
}

tr.invalid-input {
  background-color: #f2dede;
}

.graphable-stat {
  text-align: center;
  color: #5286BC;
  cursor: pointer;
}

.highchart-modal .modal-dialog {
  width: 650px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

caption {
  color: #333;
  font-weight: 700;
  padding-top: 0;
}

table > tbody > .headers > td {
  vertical-align: middle;
}

table .headers + .headers td {
  font-size: 13px;
  color: #222;
}

#security table .headers td + td {
  text-align: center;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #fff;
  border-width: 10px 10px 0;
  margin-bottom: -5px;
}

.tooltip-inner {
  padding: 20px 20px 10px 20px;
  font-size: 14px;
  text-align: left;
  color: #333;
  background-color: #fff;
  box-shadow: 0 3px 8px 8px #e8e8e8;
}

.tooltip.in {
  opacity: 1;
}

.tooltip-inner ul {
  padding-left: 0;
  margin-bottom: 15px;
}

.tooltip-inner li {
  list-style-type: none;
  margin-bottom: 5px;
}

#security .tooltip-inner {
  max-width: 520px;
}

#xs-advanced-container {
  margin-bottom: 20px;
}

#advanced-toggle-button-xs {
  width: 100%;
}

/* styling for bootstrap-switch toggles */
.checkbox-help {
  margin-top: 10px;
}

/* CSS only spinner for AJAX requests */

.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.centered-hack-parent {
  text-align: center;
}

.centered-hack {
  text-align: left;
  display: inline-block;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* From https://gist.github.com/alexandrevicenzi/680147013e902a4eaa5d */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

.warning-text {
  padding-top: 10px;
  color: #EB5757;
}

.account-connected-header {
  vertical-align: middle;
  color: #6FCF97;
  font-size: 30px;
  margin-right: 20px;
}

.blue-link {
  font-size: 14px;
  text-decoration-line: underline;
  font-weight: normal;
  color: #00B3F8;
}

#manage-cloud-domains-link {
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  ul.nav li.dropdown-on-hover:hover ul.dropdown-menu {
    display: block;
  }
}

ul.dropdown-menu {
  padding: 0px 0px;
}

ul.dropdown-menu li a {
  padding-top: 7px;
  padding-bottom: 7px;
}

ul.dropdown-menu li a:hover {
  color: white;
  background-color: #337ab7;
}

table ul.dropdown-menu li:first-child a:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul.dropdown-menu li:last-child a:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.dropdown-menu .divider {
  margin: 0px 0;
}

#visit-domain-link {
  background-color: transparent;
}

.navbar-btn {
  margin-left: 10px;
}

#save-settings-xs-button {
  float: right;
  margin-right: 10px;
}

#button-bars {
  display: inline-block;
  float: left;
}

#hamburger-badge {
  position: relative;
  top: -2px;
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}

#restart-server {
  margin-left: 0px;
}

#restart-server:hover {
  text-decoration: none;
}

.badge {
  margin-left: 5px;
  background-color: #00B4EF !important;
}

.panel-title {
  display: inline-block;
}

#visit-hmd-icon {
  width: 25px;
  position: relative;
  top: -1px;
}

.advanced-settings-section {
  margin-top: 20px;
}

#restore-settings-button {
  margin-top: 10px;
}

/* fix for https://bugs.webkit.org/show_bug.cgi?id=39620 */
.save-button-text {
  pointer-events: none;
}

#content_archives .panel-body {
  padding: 0;
}

#content_archives .panel-body .form-group {
  padding: 15px;
}

#content_archives .panel-body th, #content_archives .panel-body td {
  padding: 8px 15px;
}

#content_archives table {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tr.gray-tr {
  background-color: #f5f5f5;
}

table .action-menu {
  text-align: right;
  width: 90px;
}

.dropdown-toggle span.glyphicon-option-vertical {
  font-size: 110%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #F5F5F5;
  padding: 4px 4px 4px 6px;
}

.dropdown.open span.glyphicon-option-vertical {
  background-color: #337AB7;
  color: white;
}
