[Unit]
Description=Assignment client service for the Vircadia server
After=network.target
PartOf=vircadia-server.target

[Service]
Restart=always

WorkingDirectory=/opt/vircadia
Environment="LD_LIBRARY_PATH=/opt/vircadia/lib"
User=vircadia
Group=vircadia
#LimitCORE=infinity
#ExecStart=/opt/vircadia/assignment-client -n 6
ExecStart=/opt/vircadia/assignment-client --min 6 --max 20

[Install]
WantedBy=multi-user.target
