/*
    styles.css

    Created by Kalila L. on 7 Apr 2020
    Copyright 2020 Vircadia and contributors.
    
    Distributed under the Apache License, Version 2.0.
    See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

/* Top Level */

.draggable-card {
    background-color: rgba(39, 39, 39, 1.0);
    margin: 5px 0px;
}

.draggable-card .handle {
    width: 40px !important;
}

.top-level-folder {
    background-color: rgba(39, 39, 39, 1.0);
}

.top-level-folder .v-list-group__header__prepend-icon {
    background-color: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    margin: 5px 5px 7px 0px !important;
    padding: 5px 18px 5px 8px;
}

.top-level-folder .handle {
    width: 40px !important;
}

.top-level-folder .folder-icon {
    margin-right: 10px;
}

.top-level-folder .folder-button {
    font-size: 0.795rem !important;
}

/* Second Level */

.v-list-group .column-item {
    max-width: 100% !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.v-list-group .draggable-card {
    background-color: rgba(0, 0, 0, 0.3);
    padding-right: 16px;
    padding-left: 0px !important;
}

.v-list-group .draggable-card .handle {
    margin-right: 16px;
}

/* Menu Slideout */

.app-version {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-weight: lighter;
}

/* Universal */

.handle {
    background-color: rgba(0, 0, 0, 0.3);
}

.inventoryApp::-webkit-scrollbar { width: 0 !important }
