/*
//  tab.css.css
//
//  Created by Alezia Kurdis on 02/27/2020
//  for "Project Athena"
//
//  Distributed under the Apache License, Version 2.0.
//  See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

div.tabsContainer{
        float: left;
        width:32px;
        padding: 0px;
    }
    
.tabsContainer button {
          //display: block;
          //color: black;
          padding: 4px;
          //width:100%;
          text-align: center;
          cursor: pointer;
          transition: 0.4s;
          font-size: 14px;
          background-color: #404040;
          border-color: #404040;
          border-width: 1px 0px 1px 1px;
          border-radius: 5px 0px 0px 5px;
          outline:none;
        }


.tabsContainer button:hover {
          background-color: #575757;
        }


.tabsContainer  button.active {
          background-color: #2E2E2E;
        }    

div.labelTabHeader{
            font-size: 20px;
            font-weight: 700;
            height: 40px;
            color:#ffffff;
        }

div.tab-section-header{
            width:100%;
            padding: 5px;
        }        