::-webkit-scrollbar {
  display: none;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

#titleURL {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#titleIMG {
  cursor: pointer;
}

#navBar {
  position: fixed;
  top: 0px;
  z-index: 99;
}

#mainContent {
  background-image: url('../resources/bg_temp.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; */
  
  margin: 0;
  padding: 50px 0 60px 0 !important;
}

/* @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/* HelloWorld.vue */

#helloWorldContainer {
  padding-left: 60px;
}

/* Cards */

.world-cards {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* FavoriteWorlds.vue */

#hfavoriteWorldsContainer {
  padding-left: 60px;
}

/* Transitions */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
