@light-gray: #949494;

// the following block avoids (only with two things in body) the bounce effect on OS X when scrolling
html {
    overflow: hidden;
    height: 100%;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../vendor/Raleway/Raleway-Regular.ttf');
}

body {
    height: 100%;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/background.jpg');
    margin: 0;
    font-size: 11px;
    letter-spacing: 1px;
}

.light-gray {
    color: @light-gray;
}

h4 {
    font-size: 12px;
}

header {
    margin: 50px 75px 35px 75px;

    #console-version {
        float: right;
    }
}

#console-tray {
    display: inline-block;
    width: 100%;
    margin: 0px 75px;
    color: white;

    p {
        text-align: center;
    }

    #navigation, #servers, .tray-line {
        display: inline-block;
        float: left;
        margin-right: 20px;
    }

    .tray-line {
        background-color: @light-gray;
        width: 1px;
        height: 130px;
        margin-top: 35px;
    }

    @square-side: 97px;

    #servers {
        h4 {
            margin-left: 7px;
        }

        margin-left: 20px;
        img {
            position: relative;
            top: -5px;
            width: @square-side;
            height: @square-side;
        }
    }

    .tray-square {
        width: @square-side;
        height: @square-side;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 25px;
        }
    }

    .nav-item {
        margin-right: 20px;
        float: left;
        width: @square-side;

        &#nav-search {
            .nav-square {
                background-color: @light-gray;
                box-shadow: 0px 3px 3px #000000;
            }
        }

        &#nav-last-visited {
            .nav-square {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@focus-background: #A6A7AA;
@dark-gray: #585858;

@focus-height: 270px;

#tray-focus {
    margin-top: 5px;
    width: 100%;
    height: @focus-height;
    background-color: @focus-background;

    color: @dark-gray;

    #server-info {
        @info-padding-top-bottom: 10px;
        height: @focus-height - @info-padding-top-bottom - @info-padding-top-bottom;
        padding: @info-padding-top-bottom 75px;

        h2 {
            color: black;
            font-size: 36px;
            margin-left: 255px;
            margin-bottom: 0px;
        }

        .server-box {
            float: left;

            .title {
                border-bottom: 1px solid @dark-gray;
                margin-bottom: 20px;
            }

            .process-status {
                @status-red: #BD5F6D;
                @status-green: #59AEA8;

                margin-bottom: 10px;

                .circle {
                    display: inline-block;
                    margin-left: 10px;
                    margin-right: 5px;
                    border-radius: 50%;
                    border: 1px solid #696A6B;
                    width: 12px;
                    height: 12px;

                    &.stopped {
                        background-color: @status-red;
                    }

                    &.running {
                        background-color: @status-green;
                    }
                }
            }

            &#left-box {
                h4 {
                    margin-top: 0px;
                    margin-bottom: 10px;
                    width: 215px;
                }
            }
        }
    }
}

#manage-server {
    text-align: center;
    background-color: #232323;
    height: 140px;

    #manage-buttons {
        display: inline-block;

        @blue: #08A6E0;

        #manage-separator {
            width: 1px
        }

        @side-margin: 20px;

        .manage-button {
            vertical-align: top;
            text-decoration: none;
            display: inline-block;
            margin: 40px @side-margin 20px @side-margin;
            width: 75px;

            img {
                display: block;
                margin: 0 auto;
                width: 20px;
            }

            p {
                color: @blue;
                text-align: center;
            }

            &#stop {
                margin-right: @side-margin + 2;
            }

            &#settings {
                margin-left: @side-margin + 2;
            }
        }

        #manage-separator {
            display: inline-block;
            width: 2px;
            height: 100%;
        }
    }
}
