@light-gray: #949494;

// the following block avoids (only with two things in body) the bounce effect on OS X when scrolling
html {
    overflow: hidden;
    height: 100%;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../vendor/Raleway/Raleway-Regular.ttf');
}

body {
    height: 100%;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/background.jpg');
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

.light-gray {
    color: @light-gray;
}

h4 {
    font-size: 14px;
}

header {
    margin: 50px 75px;

    #console-version {
        float: right;
    }
}

#console-tray {
    display: inline-block;
    width: 100%;
    margin: 0px 75px;
    color: white;

    p {
        text-align: center;
    }

    #navigation, #servers, .tray-line {
        display: inline-block;
        float: left;
        margin-right: 20px;
    }

    .tray-line {
        background-color: @light-gray;
        width: 1px;
        height: 165px;
        margin-top: 45px;
    }

    #servers {
        h4 {
            margin-left: 14px;
        }

        margin-left: 20px;
        img {
            position: relative;
            top: -5px;
            width: 125px;
            height: 125px;
        }
    }

    .tray-square {
        width: 130px;
        height: 130px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        margin-right: 15px;
        float: left;
        width: 130px;
        height: 150px;

        &#nav-search {
            .nav-square {
                background-color: @light-gray;
                box-shadow: 0px 3px 3px #000000;
            }
        }

        &#nav-last-visited {
            .nav-square {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@focus-background: #A6A7AA;
@dark-gray: #585858;

#tray-focus {
    margin-top: 15px;
    width: 100%;
    height: 300px;
    background-color: @focus-background;

    color: @dark-gray;

    #server-focus {
        padding: 15px 75px;

        h2 {
            color: black;
            font-size: 36px;
            margin-left: 315px;
            margin-bottom: 0px;
        }

        .server-box {
            float: left;

            .title {
                border-bottom: 1px solid @dark-gray;
                margin-bottom: 20px;
            }

            .process-status {
                @stop-red: #CA757F;
                margin-bottom: 10px;

                .circle {
                    display: inline-block;
                    margin-left: 10px;
                    margin-right: 5px;
                    background-color: @stop-red;
                    border-radius: 50%;
                    border: 1px solid #696A6B;
                    width: 12px;
                    height: 12px;
                }
            }

            &#left-box {
                h4 {
                    margin-bottom: 10px;
                    width: 275px;
                }
            }
        }
    }
}

#manage-server {
    background-color: #232323;
    height: 150px;
}
