/*
//
//  Copyright 2016 High Fidelity, Inc.
//
//  Distributed under the Apache License, Version 2.0.
//  See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/
.marketplaces-container {
    width: 100%;
}
.marketplace-tile {
    text-align: center;
    float: left;
    width: 25%;
    margin: 10%;
}
.marketplace-tile-title {
    width: 100%;
    white-space: nowrap;
    font-size: 2em;
    margin-bottom: 2%;
}
.marketplace-tile-image-container {
}
.marketplace-tile-image {
    height: auto;
    max-width: 100%;
}
.marketplace-tile-description {
    margin-top: 2%;
    font-size: 1.2em;
    margin-bottom: 5%;
}
@media only screen and (max-width:768px) {
    .marketplace-tile {
        text-align: center;
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
    }
}
/*.clara-image {
    cursor: pointer;
}
*/

.claraHowTo {
    background-color: rgba(0,0,0,0.7);
    width:94%;
    height:auto;
    margin-top:6%;
    margin-left:3%;
    clear: both;
}


.clara-title-slug{
    padding-top:20px;
    text-align: center
}

.clara-list{
    margin:20px 0 20px 7.5%;
}

.clara-list > li{
    margin-bottom: 10px;
}

#goToClara{
    width:94%;
    margin-left:3%;
    margin-bottom:20px;
}