/*
//
//  Copyright 2016 High Fidelity, Inc.
//
//  Distributed under the Apache License, Version 2.0.
//  See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/
body {
    background: white;
    padding: 0 0 0 0;
}
.marketplaces-container {
    color: black;
    width: 94%;
    margin-left: 3%;
    height: 100%;
}
.marketplaces-title {
    margin-top: 45px;
    margin-bottom: 20px;
}
.marketplaces-intro-text {
    margin-bottom: 60px;
}
.marketplace-tile {
    width: 100%;
}
.marketplace-tile-first-column {
    text-align: center;
    float: left;
    width: 34%;
}
.marketplace-tile-second-column {
    float: left;
    width: 66%;
}
.exploreButton {
    width: 200px !important;
    height: 45px !important;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tile-divider {
    width: 90%;
    margin-left: 5%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgrey;
    margin: 1em 0;
    padding: 0;
    margin-bottom: 30px;
}
.marketplace-tile-description {
    margin-top: 15px;
    margin-bottom: 50px;
}
.marketplace-tile-image {
    max-width: 256px;
    height: 128px;
    -webkit-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.48);
    box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.48);
}
.marketplace-clara-steps {
    padding-left: 15px;
}
.marketplace-clara-steps > li {
    margin-top: 5px;
}
@media (max-width:768px) {
    .marketplace-tile-first-column {
        float: left;
        width: 100%;
    }
    .marketplace-tile-second-column {
        float: left;
        width: 100%;
    }
    .exploreButton {
        margin-left: 25%;
    }
}