/*
miniTablet.css

Created by David Rowe on 20 Aug 2018.
Copyright 2018 High Fidelity, Inc.

Distributed under the Apache License, Version 2.0.
See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

html {
    background-color: #404040;
}

body {
    height: 100%;
}

section {
    background-color: #404040;
    position: relative;
    padding: 16px 16px;
}

.button {
    width: 116px;
    height: 84px;
    margin-top: 16px;
    text-align: center;
}

    .button:first-child {
        margin-top: 0;
    }

img {
    width: 40px;
}

#mute {
    padding-top: 19px;
    background-size: 100% 100%;
    background-image: url("./img/mt-mute-normal.svg");
}

    #mute:hover {
        background-image: url("./img/mt-mute-hover.svg");
    }

#goto {
    padding-top: 19px;
    background-size: 100% 100%;
    background-image: url("./img/mt-goto-normal.svg");
}

    #goto:hover {
        background-image: url("./img/mt-goto-hover.svg");
    }

        #goto:hover.unhover {
            background-image: url("./img/mt-goto-normal.svg");
        }

#expand {
    position: absolute;
    right: 1px;
    bottom: -1px;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("./img/mt-expand-normal.svg");
}

    #expand:hover {
        background-image: url("./img/mt-expand-hover.svg");
    }

    #expand:hover.unhover {
        background-image: url("./img/mt-expand-normal.svg");
    }

    #expand img {
        width:34px;
        margin-top: 7px;
    }
