@font-face {
    font-family: 'Proxima Nova';
    src: url('vendor/ProximaNova/ProximaNova-Regular.otf');
}

* {
    font-family: "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 130%;
}

body {
    margin: 0;
    padding: 0;
    color: #808785;
    margin: 0 auto;
    text-align: center;
    font-size: 14pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
}

#error-message {
    background-color: #F7F8F8;
    color: #EB4C5F;
    padding: 20px;
    margin: 20px 120px 0 120px;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    cursor: text;
}

progress {
    height: 1px;
    width: 300px;
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #DADADA;
    /* border-radius: 2px; */
}

progress[value]::-webkit-progress-value {
    background-color: #21B7D4;
    /* border-radius: 2px; */
}

.state {
    padding-top: 100px;
}

h1 {
    font-size: 29pt;
    font-weight: normal;
}

#cancel-area {
    margin-top: 100px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #B4B4B4;
}

a:hover {
    color: #2D88A4;
}

.one {
    opacity: 0;
    animation: dot 2.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    animation: dot 2.3s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 0;
    animation: dot 2.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}