/*
//  edit-style.css
//
//  Created by Ryan Huffman on 13 Nov 2014
//  Copyright 2014 High Fidelity, Inc.
//
//  Distributed under the Apache License, Version 2.0.
//  See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

@font-face {
    font-family: Raleway-Regular;
    src: url(../../resources/fonts/Raleway-Regular.ttf),  /* Production */
         url(../../interface/resources/fonts/Raleway-Regular.ttf);  /* Development */
}

@font-face {
    font-family: Raleway-Light;
    src: url(../../resources/fonts/Raleway-Light.ttf),
         url(../../interface/resources/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../../resources/fonts/Raleway-Bold.ttf),
         url(../../interface/resources/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../../resources/fonts/Raleway-SemiBold.ttf),
         url(../../interface/resources/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: FiraSans-SemiBold;
    src: url(../../resources/fonts/FiraSans-SemiBold.ttf),
         url(../../interface/resources/fonts/FiraSans-SemiBold.ttf);
}

@font-face {
    font-family: HiFi-Glyphs;
    src: url(../../resources/fonts/hifi-glyphs.ttf), 
         url(../../interface/resources/fonts/hifi-glyphs.ttf);
}

body {
    margin: 0;
    padding: 24px 12px 24px 12px;

    color: #afafaf;
    background-color: #404040;
    font-family: Raleway-Regular;
    font-size: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


table {
    font-family: FiraSans-SemiBold;
    font-size: 15px;
    color: #afafaf;
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-family: Raleway-Regular;
    font-size: 12px;
    background-color: #1c1c1c;
    padding: 1px 0px;
    border-bottom: 1px solid #575757;
    width: 100%;
}

tbody {
    width: 100%;
}

tfoot {
    font-family: Raleway-Light;
    font-size: 13px;
    background-color: #1c1c1c;
    border-top: 1px solid #575757;
    width: 100%;
}

thead tr {
    height: 26px;  /* 28px with thead padding */
}

thead th {
    height: 26px;
    background-color: #1c1c1c;
    border-right: 1px solid #575757;
}

thead th:last-child {
    border: none;
}

tbody td {
    height: 26px;
}

tfoot td {
    height: 18px;
    width: 100%;
    background-color: #1c1c1c;
}

tr {
    width: 100%;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #2e2e2e;
}

tr:nth-child(even) {
    background-color: #1c1c1c;
}

tr.selected {
    color: #000000;
    background-color: #00b4ef;
}

th {
    text-align: center;
    word-wrap: nowrap;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

td.url {
    white-space: nowrap;
    overflow: hidden;
}


input, textarea {
    margin: 0;
    padding: 0 12px;
    color: #afafaf;
    background-color: #252525;
    border: none;
    font-family: Raleway-SemiBold;
    font-size: 15px;
    font-style: normal;
}

textarea {
    min-height: 28px;
    width: 100%;
    resize: vertical;
}

input {
    height: 28px;
    min-width: 120px;
}

input::-webkit-input-placeholder {
    font-style: italic;
}

input.search {
    border-radius: 14px;
}

input.url {
    width: 100%;
}

input.coord {
    width: 7em;
    display: block;
}

input.no-spin::-webkit-outer-spin-button,
input.no-spin::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:disabled, textarea:disabled {
    background-color: rgb(63, 63, 63);
    color: rgb(160, 160, 160);
}

input[type="number"] {
    position: relative;
}

input:focus {
    color: #fff;
    background-color: #000;
    border: 1px dotted red;
}

input::selection {
    background-color: #00b4ef;
}

/* Spin Buttons modified  - credit for original implementation goes to http://jsfiddle.net/Volker_E/WwfW9/ */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 0.9em;
    height: 22px;
    opacity: 0.5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 2px;
    right: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active {
    opacity: .8;
}

input[type=button] {
    font-family: Raleway-Bold;
    font-size: 13px;
    vertical-align: top;
    height: 28px;
    min-width: 120px;
    padding: 0px 12px;
    margin-right: 8px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #000;
    background: linear-gradient(#343434, #000);
    cursor: pointer;
}

input[type=button].glyph {
    font-family: HiFi-Glyphs;
    font-size: 20px;
    min-width: 34px;
    padding: 0;
}

input[type=button].red {
    color: #fff;
    background-color: #94132e;
    background: linear-gradient(#d42043, #94132e);
}

input[type=button]:hover {
    background: linear-gradient(#000, #000);
    border: none;
}

input[type=button].red:hover {
    background: linear-gradient(#d42043, #d42043);
    border: none;
}

input[type=button]:active {
    background: linear-gradient(#343434, #343434);
}

input[type=button].red:active {
    background: linear-gradient(#94132e, #94132e);
}


.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    cursor: text;
}

.color-box {
    display: inline-block;
    width: 15pt;
    height: 15pt;
    border: 0.75pt solid black;
    margin: 1.5pt;
    cursor: pointer;
}

.color-box.highlight {
    width: 13.5pt;
    height: 13.5pt;
    border: 1.5pt solid black;
}

.section-header, .sub-section-header {
    background: #AAA;
    border-bottom: 0.75pt solid #CCC;
    background-color: #333333;
    color: #999;
    padding: 3pt;
    padding-top: 6pt;
}

.section-header label, .sub-section-header label {
    font-weight: bold;
    font-size: 11pt;
}

.sub-section-header {
    padding-top: 4px;
}

.sub-section-header label {
    font-size: 9pt;
}

.multi-property-section {
}

.property-section {
    display: block;
    margin: 10 10;
    height: 22.5pt;
}

.property-section label {
    font-weight: bold;
}

.property-section span {
    float: right;
}

.grid-section {
}

.color-picker {
    width: 50px;
    height: 10px;
    margin: 5px;
    border: 1px solid white;
}

.prop-x {
    color:red !important;
    background: rgba(255, 0, 0, .9);
    height:2px !important;
}

.prop-y {
    color:green !important;
    background: rgba(0, 255, 0, .9);
    height:2px !important;
}

.prop-z{
    color:blue !important;
    background: rgba(0, 0, 255, .9);
    height:2px !important;
}


#entity-list-header {
    margin-bottom: 24px;
}

#delete {
    float: right;
    margin-right: 0;
    background-color: #ff0000;
}

#entity-list {
    position: relative; /* New positioning context. */
}

#search-area {
    padding-right: 148px;
    padding-bottom: 24px;
}

#filter {
    width: 98%;
}

#radius-and-unit {
    float: right;
    margin-right: -148px;
}

#radius {
    width: 4em;
}

#entity-table-scroll {
    /* Height is set by JavaScript. */
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 28px; /* Space for header and footer outside of scroll region. */
    margin-top: 28px;
}

#entity-table-scroll, #entity-table {
    background-color: #1c1c1c;
}

#entity-table {
    margin-top: -28px;
    margin-bottom: -18px;
    table-layout: fixed;
}

#col-type {
    width: 16%;
}
#col-name {
    width: 42%;
}
#col-url {
    width: 42%;
}

#entity-table thead {
    position: absolute;
    top: 52px; /* 24px below search field and 28px for header */
    left: 0;
    width: 100%;
}

#entity-table thead th {
    padding: 0;
}

#entity-table tfoot {
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
}

#no-entities {
    display: none;
    position: absolute;
    top: 80px;
    padding: 12px;
    font-family: FiraSans-SemiBold;
    font-size: 15px;
    font-style: italic;
    color: #afafaf;
}


div.input-area {
    display: inline-block;
    font-size: 9pt;
}

#type, #id {
    font-size: 9.0pt;
}

#type label, #id label {
    color: rgb(150, 150, 150);
}

#properties-list input[type=checkbox] {
    vertical-align: bottom;
}

#properties-list input[type=button] {
    cursor: pointer;
    background-color: rgb(51, 102, 102);
    border-color: #608e96;
    border-radius: 3.75pt;
    padding: 3.75pt 7.5pt;
    border: 0;
    color: rgb(204, 204, 204);
}

#properties-list input[type=button]:disabled {
    background-color: rgb(41, 82, 82);
    color: rgb(160, 160, 160);
}

#properties-list .property {
    padding: 4pt;
    border-bottom: 0.75pt solid rgb(63, 63, 63);
    min-height: 12pt;
}


table#properties-list {
    border: none;
    border-collapse: collapse;
    width: 100%;
    background-color: #efefef;
    font-family: Arial;
    table-layout: fixed;
}

#properties-list {
    border-bottom: 0.75pt solid #e5e5e5;
}

.sub-props-checkbox-group {
    margin-left: 20px;
}

#properties-list .label {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 1.2em;
}

#properties-list .label input[type=button] {
    float: right;
    padding: 0 5px 1px;
}

#properties-list .value > div{
    padding: 3pt 0;
}

col#col-label {
    width: 97.5pt;
}

input#property-name {
    width: 100%;
}

div.outer {
    position: relative;
}
div.inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}
