* {
}

body {
    margin: 0;
    padding: 0;

    background-color: #efefef;
    font-family: Sans-Serif;
    font-size: 12px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;
}

.color-box.highlight {
    width: 18px;
    height: 18px;
    border: 2px solid black;
}

.section-header {
    background: #AAA;
    border-bottom: 1px solid #CCC;
    background-color: #333333;
    color: #999;
    padding: 4px;
}

.section-header label {
    font-weight: bold;
}

.multi-property-section {
}
.property-section {
    display: block;
    margin: 10 10;
    height: 30px;
}

.property-section label {
    font-weight: bold;
}

.property-section span {
    float: right;
}

.grid-section {
    border-top: 1px solid #DDD;
    background-color: #efefef;
}

input[type=button] {
    cursor: pointer;
    background-color: #608e96;
    border-color: #608e96;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin: 0 2px;
    margin-top: 5px;
    font-size: .9em;
}

input {
    padding: 2px;
    border: 1px solid #999;
    background-color: #eee;
}

table#entity-table {
    border-collapse: collapse;
    font-family: Sans-Serif;
    font-size: 12px;
    width: 100%;
}

#entity-table tr {
    cursor: pointer;
}

#entity-table tr.selected {
    background-color: #AAA;
}

#entity-table th {
    background-color: #333;
    color: #fff;
    border: 0px black solid;
    text-align: left;
    word-wrap: nowrap;
    white-space: nowrap;
}

#entity-table td {
    border: 0px black solid;
    word-wrap: nowrap;
    white-space: nowrap;
}

th#entity-type {
    width: 60px;
}

th#entity-url {
}


div.input-area {
    display: inline-block;
}

input {
}



table#properties-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    background-color: #efefef;
    font-family: Arial;
    font-size: 12px;
    table-layout: fixed;
}

#properties-table tr {
    border-bottom: 1px solid #e5e5e5;
}

#properties-table td.label {
    padding-right: 10px;
    border-right: 1px solid #999;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    vertical-align: middle;
    height: 1.2em;
}

#properties-table td {
    padding: 5px 0px 5px 10px;
}

col#col-label {
    width: 130px;
}
