* {
}

body {
    margin: 0;
    padding: 0;

    background-color: #efefef;
    font-family: Arial;
    font-size: 11.5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.properties {
    background-color: rgb(76, 76, 76);
    color: rgb(204, 204, 204);
    font-size: 11px;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    cursor: text;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;
}

.color-box.highlight {
    width: 18px;
    height: 18px;
    border: 2px solid black;
}

.section-header {
    background: #AAA;
    border-bottom: 1px solid #CCC;
    background-color: #333333;
    color: #999;
    padding: 4px;
}

.section-header label {
    font-weight: bold;
}

.multi-property-section {
}
.property-section {
    display: block;
    margin: 10 10;
    height: 30px;
}

.property-section label {
    font-weight: bold;
}

.property-section span {
    float: right;
}

.grid-section {
    border-top: 1px solid #DDD;
    background-color: #efefef;
}

input[type=button] {
    cursor: pointer;
    background-color: #608e96;
    border-color: #608e96;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    color: #fff;
    font-weight: bold;
}

textarea, input {
    margin: 0;
    padding: 2px;
    border: 1px solid #999;
    background-color: #eee;
}

textarea {
    width: 100%;
    resize: vertical;
}

input.url {
    width: 100%;
}

input.coord {
    width: 7em;
    display: block;
}

table#entity-table {
    border-collapse: collapse;
    font-family: Sans-Serif;
    /* font-size: 12px; */
    width: 100%;
}

#entity-table tr {
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}

#entity-table tr.selected {
    background-color: #AAA;
}

#entity-table th {
    background-color: #333;
    color: #fff;
    border: 0px black solid;
    text-align: left;
    word-wrap: nowrap;
    white-space: nowrap;
}

#entity-table td {
    border: 0px black solid;
    word-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#entity-table td.url {
    white-space: nowrap;
    overflow: hidden;
}

th#entity-type {
    width: 60px;
}



div.input-area {
    display: inline-block;
    font-size: 10px;
}

input {
}

#type {
    font-size: 14px;
}

#type label {
    color: rgb(150, 150, 150);
}

#properties-list input, #properties-list textarea {
    background-color: rgb(102, 102, 102);
    color: rgb(204, 204, 204);
    border: none;
    font-size: 10px;
}

#properties-list input[type=button] {
    cursor: pointer;
    background-color: rgb(51, 102, 102);
    border-color: #608e96;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    color: rgb(204, 204, 204);
}

#properties-list .property {
    padding: 8px 8px;
    border-top: 1px solid rgb(63, 63, 63);
    min-height: 1em;
}


table#properties-list {
    border: none;
    border-collapse: collapse;
    width: 100%;
    background-color: #efefef;
    font-family: Arial;
    table-layout: fixed;
}

#properties-list > div {
    margin: 4px 0;
}

#properties-list {
    border-bottom: 1px solid #e5e5e5;
}

#properties-list .label {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    vertical-align: middle;
    height: 1.2em;
}

#properties-list .value > div{
    padding: 4px 0;
}

col#col-label {
    width: 130px;
}

div.outer {
    position: relative;
}
div.inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}

td {


        vertical-align: top;
}
