* {
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(76, 76, 76);
    color: rgb(204, 204, 204);
    font-family: Arial;
    font-size: 8.25pt;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    cursor: text;
}

.color-box {
    display: inline-block;
    width: 15pt;
    height: 15pt;
    border: 0.75pt solid black;
    margin: 1.5pt;
    cursor: pointer;
}

.color-box.highlight {
    width: 13.5pt;
    height: 13.5pt;
    border: 1.5pt solid black;
}

.section-header {
    background: #AAA;
    border-bottom: 0.75pt solid #CCC;
    background-color: #333333;
    color: #999;
    padding: 3pt;
}

.section-header label {
    font-weight: bold;
}

.multi-property-section {
}
.property-section {
    display: block;
    margin: 10 10;
    height: 22.5pt;
}

.property-section label {
    font-weight: bold;
}

.property-section span {
    float: right;
}

.grid-section {
}

input[type=button] {
    cursor: pointer;
    background-color: #608e96;
    border-color: #608e96;
    border-radius: 3.75pt;
    padding: 3.75pt 7.5pt;
    border: 0;
    color: #fff;
    font-weight: bold;
}

textarea, input {
    margin: 0;
    padding: 1.5pt;
    border: 0.75pt solid #999;
    background-color: #eee;
}

textarea {
    width: 100%;
    resize: vertical;
}

input.url {
    width: 100%;
}

input.coord {
    width: 7em;
    display: block;
}

table#entity-table {
    border-collapse: collapse;
    font-family: Sans-Serif;
    font-size: 7.5pt;
    width: 100%;
}

#entity-table tr {
    cursor: pointer;
    border-bottom: 0.75pt solid rgb(63, 63, 63)
}

#entity-table tr.selected {
    background-color: #AAA;
}

#entity-table th {
    background-color: #333;
    color: #fff;
    border: 0pt black solid;
    text-align: left;
    word-wrap: nowrap;
    white-space: nowrap;
}

#entity-table td {
    font-size: 8.25pt;
    border: 0pt black solid;
    word-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#entity-table td.url {
    white-space: nowrap;
    overflow: hidden;
}

th#entity-type {
    width: 33.75pt;
}



div.input-area {
    display: inline-block;
    font-size: 7.5pt;
}

input {
}

#type {
    font-size: 10.5pt;
}

#type label {
    color: rgb(150, 150, 150);
}

input, textarea {
    background-color: rgb(102, 102, 102);
    color: rgb(204, 204, 204);
    border: none;
    font-size: 7.5pt;
}

#properties-list input[type=button] {
    cursor: pointer;
    background-color: rgb(51, 102, 102);
    border-color: #608e96;
    border-radius: 3.75pt;
    padding: 3.75pt 7.5pt;
    border: 0;
    color: rgb(204, 204, 204);
}

#properties-list .property {
    padding: 6pt 6pt;
    border-top: 0.75pt solid rgb(63, 63, 63);
    min-height: 1em;
}


table#properties-list {
    border: none;
    border-collapse: collapse;
    width: 100%;
    background-color: #efefef;
    font-family: Arial;
    table-layout: fixed;
}

#properties-list > div {
    margin: 3pt 0;
}

#properties-list {
    border-bottom: 0.75pt solid #e5e5e5;
}

#properties-list .label {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    vertical-align: middle;
    height: 1.2em;
}

#properties-list .value > div{
    padding: 3pt 0;
}

col#col-label {
    width: 97.5pt;
}

div.outer {
    position: relative;
}
div.inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}

td {


        vertical-align: top;
}
