* {
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(76, 76, 76);
    color: rgb(204, 204, 204);
    font-family: Arial;
    font-size: 9pt;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#walk-settings-header {
    padding: 0.5em;
}

.settings-section {
    display: block;
    margin: 10 10;
    height: 22.5pt;
}

.settings-section label {
    font-weight: bold;
}

.settings-section span {
    float: right;
}

input[type=button] {
    cursor: pointer;
    background-color: #608e96;
    border-color: #608e96;
    border-radius: 3.75pt;
    padding: 3.75pt 7.5pt;
    border: 0;
    color: #fff;
    font-weight: bold;
}
