@font-face {
    font-family: 'Raleway';
    src: url('vendor/Raleway/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('vendor/Raleway/Raleway-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('vendor/Raleway/Raleway-SemiBold.ttf');
    font-weight: bold;
    font-style: normal;
}


* {
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 130%;
}

body {
    margin: 0;
    padding: 0;
    color: #808785;
    margin: 0 auto;
    text-align: left;
    font-size: 13.5pt;
    -webkit-touch-callout: none;    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    cursor: text;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #B4B4B4;
}

a:hover {
    color: #2D88A4;
}

.header {
   width: 95%;
   left: 2.5%
}
.colmask {
   width: 95%;
   left: 2.5%
}
.colmid { right: 25% }
.colin { right: 25% }
.colleft { right: 25% }
.col1 {
   width: 23%;
   left: 101%
}
.col2 {
   width: 23%;
   left: 53%
}
.col3 {
   width: 23%;
   left: 80%
}
.col4 {
   width: 23%;
   left: 82%
}
.footer {
   width: 95%;
   left: 2.5%
}
.header {
   clear: both;
   float: left;
   position: relative;
   border-bottom: #000 1px solid;
   background-color: #b4d2f7
}
.colmask {
   clear: both;
   float: left;
   overflow: hidden;
   position: relative;

}
.colmid {
   float: left;
   width: 100%;
   position: relative;

}
.colin {
   float: left;
   width: 100%;
   position: relative;

}
.colleft {
   float: left;
   width: 100%;
   position: relative;

}
.col1 {
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;
   word-wrap: break-word;

}
.col2 {
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;

}
.col3 {
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;

}
.col4 {
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;

}
.footer {
   clear: both;
   float: left;
   position: relative;
   padding-top: 8px;
   border-top: #000 1px solid;

}
.bottom {
   clear: both;
   width: 100%;
   float: left;
   position: relative;

}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   width: 100%;
   min-width: 600px;
}
