// app global css in SCSS form

// TODO: replace with a link to the variables in the Web Component Library 
// https://github.com/digisomni-syndicate/web-component-library/blob/10aae3f6eb7f5d0c3c2b86ce15bac40e4fa5383d/src/css/app.scss
:root {
	$color_primary: #0C71C3;
	$color_secondary: #8300E9;
	$color_secondary_light: #9271F6;
	$color_intermediate: #4739D6;
	$color_accent: #01BDFF;

	$color_logo_blue: #01BDFF;
	$color_logo_violet: #8C1AFF;

	$color_lightblue: #1776D2;
	$color_darkblue: #001A29;
	$color_lightpink: #DE3985;
	$color_almost_white: #F5F5F5;
	$color_almost_black: #202020;
	$color_glass_white: #FFFFFF20;

	$anim_duration_fast: 0.1s;
	$anim_duration_short: 0.2s;
	$anim_duration_standard: 0.5s;
	$anim_duration_medium: 0.7s;
	$anim_duration_long: 2s;
	$anim_duration_longer: 4.5s;

	$border_radius_tiny: 3px;
	$border_radius_small: 5px;
	$border_radius_medium: 7px;
	$border_radius_large: 12px;
	$border_radius_larger: 20px;
}

#bgFreezeCheckboxContainer {
    position: fixed;
    bottom: 18px;
    right: 18px;
    color: white;
}
